<div class=""
  fxLayout="column"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="10px" style="height:90%">
  <form [formGroup]="produccionForm" (ngSubmit)="addOrden(produccionForm.value)">
  <div class=""
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="10px">
    <div class="cabecera" fxFlex=30% fxFlex.xs=100%>
      
      <table class="campo">
        <tr>
          <td>Op.</td>
          <td  style="text-align:right;padding-right:15%"><h4>{{numOperacion|number:'3.0-0'}}</h4></td>         
        </tr>
        <tr>
          <td>Responsable</td>
          <td>
              <mat-form-field>
                  <input type="text" matInput formControlName="responsable" [matAutocomplete]="auto">
                  <button mat-icon-button *ngIf="existeResp" [routerLink]="'../../mantenimientos/trabajadores/nuevo'" matSuffix><mat-icon>
                    <i class="material-icons">
                    add
                    </i>  
                  </mat-icon></button>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.nombre_trab}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field> 
                <div class="alerta" *ngIf="!produccionForm.controls['responsable'].valid&&produccionForm.controls['responsable'].touched">
                    Ingrese un responsable
                </div>               
          </td>
        </tr>
        <tr>
          <td>Fecha Emisión</td>
          <td>
              <mat-form-field>
                  <input matInput formControlName="fecha" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" style="text-align:center !important">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
                <div class="alerta" *ngIf="!produccionForm.controls['fecha'].valid&&produccionForm.controls['fecha'].touched">
                    Ingrese una fecha
                </div> 
          </td>
        </tr>
        <tr>
          <td>Referencia</td>
          <td>
              <mat-form-field>
                  <input matInput formControlName="referencia">
                </mat-form-field>
                <div class="alerta" *ngIf="!produccionForm.controls['referencia'].valid&&produccionForm.controls['referencia'].touched">
                    Ingrese una referencia
                </div> 
          </td>
        </tr>        
        <tr>
          <td>Cliente</td>
          <td>
              <mat-form-field>
                  <input type="text" matInput formControlName='cliente' [matAutocomplete]="auto1">
                  <button mat-icon-button *ngIf="existeCli" [routerLink]="'../../mantenimientos/empresas/nuevo'" matSuffix><mat-icon>
                    <i class="material-icons">
                      add
                    </i>  
                  </mat-icon></button>
                  <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFnCli">
                    <mat-option *ngFor="let cliente of filteredOptionsCli | async" [value]="cliente">
                      {{cliente.raz_soc_emp_cli}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>  
                <div class="alerta" *ngIf="!produccionForm.controls['cliente'].valid&&produccionForm.controls['cliente'].touched">
                    Ingrese un cliente
                </div>               
          </td>
        </tr>
        <tr>
            <td>Inicio de actividades</td>
          <td>
              <mat-form-field>
                  <input matInput type="datetime-local" [min]="ahora" formControlName="fechaInicio">
                </mat-form-field>  
                <div class="alerta" *ngIf="!produccionForm.controls['fechaInicio'].valid&&produccionForm.controls['fechaInicio'].touched">
                    Ingrese una fecha válida
                </div>               
          </td>
        </tr>
        <tr>
            <td>Fin de actividades</td>
          <td>
              <mat-form-field>
                  <input matInput type="datetime-local" [min]="ahora" formControlName="fechaFin">
                </mat-form-field>  
                <div class="alerta" *ngIf="!produccionForm.controls['fechaFin'].valid&&produccionForm.controls['fechaFin'].touched">
                    Ingrese una fecha válida
                </div>               
          </td>
        </tr>
      </table>
    </div>
    <div class="cabecera" fxFlex=60% fxFlex.xs=100%>
      <table  class="campo">
        <tr>
          <td>Nombre del Presupuesto(TP)</td>
          <td>
              <mat-form-field class="campo">
                  <textarea formControlName="opP" matInput></textarea>
                </mat-form-field>
                <div class="alerta" *ngIf="!produccionForm.controls['opP'].valid&&produccionForm.controls['opP'].touched">
                    Ingrese un nombre
                </div> 
          </td>
        </tr>
        <tr>
            <td>Contacto</td>
            <td>
              <mat-form-field>
                <mat-select formControlName="contacto">
                  <mat-option *ngFor="let contact of contactos" [value]="contact.vcod_contac">
                    {{contact.vnom_contact}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="alerta" *ngIf="!produccionForm.controls['contacto'].valid&&produccionForm.controls['contacto'].touched">
                  Ingrese un contacto
              </div> 
            </td>
          </tr>
        <tr>
          <td>Adicionales</td>
          <td><button mat-raised-button type="button" (click)="openDialog()" style="background-color: #69BB7B; color:white">Añadir adicional
              <mat-icon class="menu">
                  <i class="material-icons">
                  add
                  </i>
                </mat-icon>
          </button>
        </td>
        </tr>
        <tr>
          <td colspan="2">
            <div  *ngIf = "adicionales.length>0" style="overflow:auto; height:120px; margin-top:20px">
            <table class="tabla1">
              <thead>
                <th>Trabajo</th>
                <th>Descripción</th>
                <th>Contacto</th>
              </thead>
              <tbody>
                <tr *ngFor="let ad of adicionales">
                  <td>{{ad.nro}}</td>
                  <td>{{ad.des}}</td>
                  <td>{{ad.ref}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </td>
        </tr>       
      </table>
      <div  style="text-align:right">
      <button class="barra" mat-raised-button type="submit" [disabled]="!produccionForm.valid">
          Aceptar
      </button>
      </div>
    </div>
    
  </div>
  <div fxLayout fxGap="10px" fxGap.xs="10px" fxLayoutAlign="center">    
  </div>  
</form>
</div>