<br>
<div class=""
  fxLayout="column"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="10px">
  <div class=""
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="10px">
    <div class="cabecera" fxFlex=30% fxFlex.xs=90%>
      <table>
        <tr>
          <td>Op.</td>
          <td>2568</td>
        </tr>
        <tr>
          <td>Responsable</td>
          <td>
              <mat-form-field class="example-full-width">
                  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <button mat-mini-fab class="boton" *ngIf="existe" [routerLink]="'../nuevoResponsable'"><mat-icon>
                    <i class="material-icons">
                    add
                    </i>
                  </mat-icon></button>
          </td>
        </tr>
        <tr>
          <td>Fecha Emisión</td>
          <td>
              <mat-form-field class="example-full-width">
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="fechaEm">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Referencia</td>
          <td>
              <mat-form-field class="">
                  <input matInput>
                </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <div class="cabecera" fxFlex=60% fxFlex.xs=90%>
      <table  class="campo">
        <tr>
          <td>Nombre del Presupuesto</td>
          <td>
              <mat-form-field class="campo">
                  <textarea matInput value="Fabricación e instalación de viguetas techo rev. técnicas"></textarea>
                </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>Contacto</td>
            <td>
              <mat-form-field>
                <mat-select [(ngModel)]="contacto">
                  <mat-option *ngFor="let contact of contactos" [value]="contact.value">
                    {{contact.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        <tr>
          <td>Adicionales</td>
          <td><button mat-raised-button (click)="openDialog()" style="background-color: #69BB7B; color:white">Añadir adicional
              <mat-icon class="menu">
                  <i class="material-icons">
                  add
                  </i>
                </mat-icon>
          </button>
        </td>
        </tr>
        <tr>
          <td colspan="2">
            <div  *ngIf = "adicionales.length>0" style="overflow:auto; height:80px; margin-top:20px">
            <table class="tabla1">
              <thead>
                <th>Trabajo</th>
                <th>Descripción</th>
                <th>Contacto</th>
              </thead>
              <tbody>
                <tr *ngFor="let ad of adicionales">
                  <td>{{ad.titulo}}</td>
                  <td>{{ad.des}}</td>
                  <td>{{ad.ref}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>
            <mat-form-field>
              <mat-select [(ngModel)]="cliente">
                <mat-option *ngFor="let cli of clientes" [value]="cli.value">
                  {{cli.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>       
      </table>
    </div>
  </div>
  <div class="" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <div fxFlex="91%" fxFlex.xs="100%" class="cabecera">
      <div fxLayout="row" fxLayoutGap="10px" style="margin:10px;">
        <div class="trabajos" fxFlex="50%" fxFlex.xs="90%">Trabajos y Personal Asignado</div>
        <div fxFlex="50%" fxFlex.xs="10%" style="text-align:right !important">
            <button mat-mini-fab class="boton"><mat-icon>
                <i class="material-icons">
                add
                </i>
              </mat-icon></button>
        </div>       
      </div>
      <div style="overflow-x:auto;">
      <table class="tabla">
        <thead>
          <th>Tipo</th>
          <th>Nro</th>
          <th>Actividad</th>
          <th>Trabajo</th>
          <th>Nombres</th>
          <th>Especialidad</th>
          <th>H-H</th>
          <th>HHE</th>
          <th>H-T</th>
          <th>HTE</th>
          <th>Avance</th>
        </thead>
      </table>
    </div>
    </div>
  </div>
</div>
<br>