<div class="cabecera" style="height:90%; text-align:center"
  fxLayout="column"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="10px">
  <div><h2>Ordenes de Producción</h2></div>
  <div>
    <button mat-raised-button [routerLink]="'../nuevo'">
      <mat-icon>
        <i class="material-icons">add</i>
      </mat-icon>
      Añadir
    </button>
  </div>
  <div style="overflow-x:auto;" *ngIf="ordenes.length>0">
    <table class="tabla">
      <thead>
        <th>Nro</th>
        <th>Responsable</th>
        <th>Fecha</th>
        <th>Referencia</th>
        <th>Cliente</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenes">
          <td>{{orden.cod_orden}}</td>
          <td>{{orden.resp_orden}}</td>
          <td>{{orden.fec_orden|date:'dd/MM/yyyy'}}</td>
          <td>{{orden.ref_orden}}</td>
          <td>{{orden.cliente_orden}}</td>
          <td>
            <button mat-icon-button [routerLink]="['../orden',orden.cod_orden]">
              <mat-icon aria-label="Ver orden">find_in_page</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>