@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    margin: 0;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
  }

.lateral{
  text-align: left;
  background-color:#495468;  
  box-shadow: 2px 2px 5px #999;
}

.lista{
  text-decoration: none;
  list-style: none;
  text-align: left;
  width: 100%;
}

.barra{
  background-color: rgb(250, 54, 61);
  color: white;
  margin: 0px;
}

.menu :hover{
    cursor: pointer;
    cursor: hand;
}

.btnMenu{
    width: 100%;
    background-color: #495468;
    color: white;
    height: 10%;
    text-align: left !important;
}

.btnMenu:hover{
    background-color: rgb(248, 83, 89);
    color: white;
}

.linea{
    color: white;
    background-color: white;
    height: 0px;
}

.tituloMenu{
    font-size: 200%;
}

.vertical{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo{
    max-width: 100%;
    height: auto;
}
