@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    margin: 0;
}

.lateral{
  text-align: left;
  background-color:#495468;  
  box-shadow: 2px 2px 5px #999;
  width: 20%;
}

.lateralSmall{
    text-align: left;
    background-color:#495468;  
    box-shadow: 2px 2px 5px #999;
    width: 60%;
}

.lista{
  text-decoration: none;
  list-style: none;
  text-align: left;
  width: 100%;
}

.barra{
  background-color: rgb(250, 54, 61);
  color: white;
  margin: 0px;
}

.menu :hover{
    cursor: pointer;
    cursor: hand;
}

.btnMenu{
    width: 100%;
    background-color: #495468;
    color: white;
    height: 10%;
    text-align: left !important;
}

.btnSubMenu{
    width: 100%;
    background-color: #495468;
    color: white;
    height: 7%;
    text-align: left !important;
    padding-left: 20% !important;
    animation: 0.5s aparecer forwards;
}

.btnMenu:hover{
    background-color: rgb(248, 83, 89);
    color: white;
}

.btnSubMenu:hover{
    background-color: rgb(248, 83, 89);
    color: white;
}

.linea{
    color: white;
    background-color: white;
    height: 0px;
}

.tituloMenu{
    font-size: 200%;
}

.vertical{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo{
    max-width: 100%;
    height: auto;
}

.icon-down{
    float: right;
    margin-right: 0px;
    margin-top: 3%;
}

.cabecera{
    border-radius:5px;
    padding: 20px;
    box-shadow: 2px 2px 5px #999;
    background-color: white;
    color: #495468;
}

.alerta{
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(248,243,053,0.2);
    color: #495468;
    text-align: left;
    animation: 2s aparecer forwards;
}

.campo{
    width: 100% !important;
}

.labelCampo{
    text-align: left;
}

.botones{
    margin-bottom: 5%;
}

.botones button{
    margin: 20px;
    color: white;
    background-color: rgb(248, 83, 89);
}

.tabla {     
    font-size: 12px;    
    width: 100%; 
    text-align: left;    
    border-collapse: collapse; 
}

.tabla th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: rgb(248, 83, 89);    
    border-bottom: 1px solid #fff; 
    color: white; 
}

.tabla td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

.desplazamiento{
    overflow-x:auto;
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
