<mat-sidenav-container style="height:100%" >
    <mat-sidenav #sidenav [mode]="modo" [opened]="abierto" [class.lateral]="pc" [class.lateralSmall]="movil" [fixedInViewport]="true" style="height:100%">
      <div
      fxLayout="column"
      fxLayoutGap = "0"
      fxLayoutGap.xs = "0"
      fxLayoutAlign="right" style="height:100%;">
      <div fxFlex="40%">
          <div class="vertical"> 
            <div class="vertical"><img src="../../assets/user-admin.png" class="logo" style="margin:10px" width="70%" height="70%"></div>            
          </div>
        </div>        
      <hr class="linea">
      <div style="text-align:left; height:100%">
          <button mat-button class="btnMenu" [routerLink]="'../menu'">
            <mat-icon><i class="material-icons">home</i></mat-icon>
            Inicio</button>
          <button mat-raised-button class="btnMenu" (click)="verMant()">
            <mat-icon><i class="material-icons">build</i></mat-icon>
            Mantenimientos<mat-icon class="icon-down"><i class="material-icons">keyboard_arrow_down</i></mat-icon></button>
                <button *ngIf="verM" mat-raised-button class="btnSubMenu" [routerLink]="'../mantenimientos/empresas/lista'">
                  <mat-icon><i class="material-icons">store_mall_directory</i></mat-icon>
                  Empresas
                </button>
                <button *ngIf="verM" mat-raised-button class="btnSubMenu" [routerLink]="'../mantenimientos/trabajadores/lista'">
                  <mat-icon><i class="material-icons">people</i></mat-icon>
                  Trabajadores
                </button>
                <button *ngIf="verM" mat-raised-button class="btnSubMenu" [routerLink]="'../mantenimientos/activs/lista'">
                  <mat-icon><i class="material-icons">work</i></mat-icon>
                  Actividades
                </button>
          <button mat-raised-button class="btnMenu" (click)="verVentas()">
            <mat-icon><i class="material-icons">shop</i></mat-icon>
            Ventas<mat-icon class="icon-down"><i class="material-icons">keyboard_arrow_down</i></mat-icon></button>
            <button *ngIf="verV" mat-raised-button class="btnSubMenu" [routerLink]="'../produccion'">
              <mat-icon><i class="material-icons">timeline</i></mat-icon>
              Cotización
          </button>
          <button mat-button class="btnMenu" [routerLink]="'../menu'">
            <mat-icon><i class="material-icons">description</i></mat-icon>
            Reportes</button>
      </div>
    </div>       
        
    </mat-sidenav>
    
    <mat-sidenav-content style="height:100%">
        <mat-toolbar class="barra" style="height:10%">
          <div 
            fxLayout="row"
            fxLayoutGap = "40px"
            fxLayoutGap.xs = "0"
            fxLayoutAlign="right" style="height:100%; width:100%">
            <div fxFlex="20%" fxFlex.xs="40%" class="vertical"><img src="../../assets/kalimet.png" class="logo"/></div>
            <div fxFlex.xs="0"></div>
            <div fxFlex="2%" class="vertical">
                <mat-icon (click)="sidenav.toggle()" class="menu">
                    <i class="material-icons">menu</i>
                  </mat-icon>
            </div>
          </div>         
        </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  </mat-sidenav-container>
  
