.example-fill-remaining-space {
    flex: 1 1 auto;
  }

.lateral{
  width: 15em;
  text-align: center;
}

.lista{
  text-decoration: none;
  list-style: none;
  text-align: left;
  width: 100%;
}

.barra{
  background-color: #F80000;
  color: white;
}

.menu :hover{
    cursor: pointer;
    cursor: hand;
}